/*
* night 2015年4月22日13:27:22
*/

@charset "utf-8";

.logo{
    display: block;
    height: 55px;
    width: 200px;
    margin: 10px auto 7px;
}

.footer{
    /*background: url("imgs/bg-onlydobookmark-white.png") no-repeat top center;*/
    height: 24px;
    line-height: 24px;
    position: fixed;
    bottom: 27px;
    width: 100%;
    text-align: center;
}

header{
    margin-top: 20px;
    margin-bottom: 35px;
}

#gd-menu-user{
    min-width: 160px;
}

.gd-query-container{
    padding: 0 25px;
}

.query input,.query button{
    border: none;
    height: 43px;
}

.query input{
    display: initial;
}

#query-engine{
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;

    min-width: 103px;
    text-align: left;
    padding-left: 15px;
}

#query-enter{
    padding: 0 30px;
}

/*搜索*/
.icon-fixed-width{
    width: 20px;
}

.cate a,.url a,.channel a{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cate{
    overflow-y: auto;
}

.cate a,.url a,.setting a,.channel a{
    display: inline-block;
    padding: 0 20px 0 24px;
    height: 45px;
    line-height: 45px;
}

.channel a{
    width: 120px;
}

.cate a{
    width: 180px;
    padding: 4px 10px 0 30px;
}

.url a{
    width: 203.5px;
    padding: 3px 26px 0 26px;
}

.setting a:hover,.url li:hover,.cate li:hover,.channel li:hover{
    background-color: #ddd;
}

.setting{
    border-radius: 4px 4px 0 0;
}

.setting li,.channel li{
    text-align: center;
}

.setting a{
    padding: 0 35px;
}

.setting a.bg-add{
    background: url("imgs/bg-add-small.png") 30px center no-repeat;
    padding: 0 30px 0 45px;
}

.url,.channel,.cate{
    margin-top: 1px;
}

.url,.cate{
    height: 325px;
}

.url{
    overflow-y: auto;
}

.url img{
    max-width: 18px;
    max-height: 18px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.channel{
    border-radius: 0 0 4px 4px;
    text-align: center;
    height:47px;
}

.channel li.focus a,.cate li.focus a{
    color: #60B04B;
}

.channel ul{
    display: inline-flex;
}

.channel li:first-child{
    border-bottom-left-radius: 4px;
}

.channel li:last-child{
    border-bottom-right-radius: 4px;
}

.list-inline>li{
    padding: 0;
}

/*设置下拉按钮*/
.dropdown-menu-set{
    border: none;
    border-radius: 0;
    margin-top: 1px;
}

.dropdown-menu-set>li>a{
    text-align: left;
    height: inherit;
    padding : 10px 10px 10px 58px;
}

.dropdown-menu-set > li > a:hover,
.dropdown-menu-set > li > a:focus {
    color: inherit;
    text-decoration: none;
    background-color: #e7e7e7;
}

/*点击按钮后，按钮有一圈边框去除*/
.btn:focus,a:focus {
    outline: none;
    outline-offset: 0;
}

/*去除文本框内阴影*/
.form-control{
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow : none !important;
}

/*去掉文本框上部内阴影*/
a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);}

/*去掉超链接的原有样式*/
a:hover,a:focus{
    text-decoration: none;
}

/*search下拉*/
.dropdown-menu-search{
    min-width: 105px;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow : none !important;
    border: 1px solid #ebebeb;
    margin: 1px 0 0 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown-menu-search li{
    padding : 10px 15px;
}

.dropdown-menu-search li:hover{
    cursor: pointer;
}

.gd-caret:after {
    display: inline-block;
    font-family: FontAwesome;
    content: "\f107";
    -webkit-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

.input-group-btn.open #query-engine{
    border-bottom-left-radius: 0;
}

.input-group-btn.open .gd-caret:after,.dropdown.open .gd-caret:after {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*搜索结果下拉*/
.list-group {
    position: absolute;
    width: 622px;
    margin-top: 1px;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 1;
}

a.list-group-item {
    border: none;
    color: #333;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 9px 10px;
    margin-bottom: 0;
}

a.list-group-item:hover,a.item-chosen{
    background-color: #f4f4f4;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}

.list-group-item:first-child:hover,.list-group-item:first-child.item-chosen{
    border-top: 1px solid rgba(255, 255, 255, 0);
}

.list-group-item:last-child:hover,.list-group-item:last-child.item-chosen{
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.list-group-item:first-child{
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    -webkit-border-top-left-radius: 0 !important;
    -webkit-border-top-right-radius: 0 !important;
}

.list-group-query-list{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    -webkit-border-bottom-left-radius: 0 !important;
    -webkit-border-bottom-right-radius: 0 !important;
}

.list-group img{
    max-width: 18px;
    max-height: 18px;
    margin-right: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#mask{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.navbar{
    min-height: inherit;
    margin-bottom: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    padding: 0 20px;
}

.nav>li>a{
    padding: 8px 23px;
}

.navbar .navbar-nav{
    margin-left: -15px;
}

.navbar .nav li:hover,.navbar .nav li:focus{
    background-color: #eeeeee;
}

.navbar .dropdown-menu{
    border-color: #dddddd;
    background-color: rgba(255, 255, 255, 0.95);
}

.navbar .dropdown-menu>li>a{
    padding: 7px 20px;
}

.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus {
    background-color: rgba(255, 255, 255, 0.95) !important;
}

.navbar .dropdown-menu .divider{
    margin: 5px 0;
}

.navbar .dropdown-menu a:hover{
    color: inherit;
    background-color: #eaeaea;
}

.top-menu:after {
    display: inline-block;
    margin-left: 5px;
    font-family: FontAwesome;
    content: "\f106";
    -webkit-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

.top-menu-user>a:after{
    content: "\f107";
}

.top-menu.collapsed:after,.top-menu-user.open>a:after{
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.set-toggle a i:before{
    content: "\f106";
}

.set-toggle a.collapsed i:before{
    content: "\f107";
}

.container-menu{
    position: absolute;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    z-index: 3;
}

.container-menu-user {
    position: absolute;
    top: 35px;
    right: 0;
    background-color: rgb(255, 255, 255);
    width: 200px;
    z-index: 4;
    border: 1px solid #ddd;
    border-top: none;
}

.style-box{
    min-height: 140px;
    padding: 10px;
}

.style-box a{
    display: inline-block;
    padding: 1px;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .35), 0 2px 20px 2px rgba(119, 115, 115, 0.5);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .35), 0 2px 20px 2px rgba(119, 115, 115, 0.5);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .35), 0 2px 20px 2px rgba(119, 115, 115, 0.5);
}

.style-box a.focus{
    border: 1px solid #EA7F13;
}

.style-box img{
    max-height: 120px;
}

.style-box a,.style-box img{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.style-box .box-content{
    display: inline-block;
    max-width: 260px;
    text-align: center;
    padding: 10px;
}

.style-box .box-content p{
    margin-bottom: 0;
    margin-top: 10px;
}

/*编辑功能*/
.editor{
    display: none;
    position: absolute;
    cursor: pointer;
}

.editor-channel-checkbox{
    top: 12px;
    left: 5px;
}

.editor-channel-edit{
    top: 12px;
    right: 5px;
}

.editor-cate-checkbox{
    top: 16px;
    left: 9px;
}

.editor-cate-edit{
    right: 15px;
    top: 16px;
}

.editor-url-checkbox{
    top: 16px;
    left: 6px;
}

.editor-url-edit{
    right: 10px;
    top: 13px;
}

/*多选以下内容*/
.set-channel .editor-channel-checkbox,
.set-channel .editor-channel-edit,
.set-cate .editor-cate-checkbox,
.set-cate .editor-cate-edit,
.set-url .editor-url-checkbox,
.set-url .editor-url-edit{
    display: inline-block;
}

/*较小分辨率*/
@media (max-height: 768px){
    header{
        margin-top:10px;
        margin-bottom:25px;
    }
}

/* common */
.margin-0{
    margin:0;
}

.margin-right-5{
    margin-right: 5px;
}

.margin-left-10{
    margin-left: 10px !important;
}

.margin-left-5{
    margin-left: 5px !important;
}

.gd-margin-bottom-0{
    margin-bottom: 0;
}

.padding-left{
    padding-left: 0;
}

.padding-right-1{
    padding-right: 1px;
}

.padding-left-0{
    padding-left: 0;
}

.padding-right-0{
    padding-right: 0;
}

.gd-hide{
    display: none;
}

.border-gray-hover{
    border-color: #bbbbbb !important;
}

.text-gray-light{
    color: #ccc;
}

.text-red{
    color: #D00000 !important;
}

.border-gray-1{
    border-bottom: 1px solid #ddd;
}

.pos-rel{
    position: relative;
}

.width-20p{
    width: 20%;
}

.width-80p{
    width: 80%;
}

.margin-top-50{
    margin-top: 50px;
}

.big-font{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgba(193, 193, 193, 0.95);
    color: #fff;
    border-radius: 50%;
    text-align: center;
    padding-top: 1px;
    margin-right: 3px;
    font-size: 13px;
}

.big-font img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: -3px;
}

/*控制url是平铺还是列表显示*/

.display-url-toggle{
    margin-top: 10px;
    margin-right: 10px;
}

.display-url-toggle .btn{
    color: #555;
    border-color: #dddddd;
    min-width: 50px;
}

.display-url-toggle .btn-default:hover, .display-url-toggle .btn-default:focus, .display-url-toggle .btn-default.active{
    border-color: #dddddd;
    background-color: #ECECEC;
    color: #EE7804;
}

.btn:active, .btn.active{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.display-url-list .url li{
    display : block;
}

.display-url-list .url li a{
    width: 100%;
}

.text-blue{
    color: #078CD2;
}

.gd-msg{
    line-height: 2;
}